<a href="https://colab.research.google.com/github/Xmaspro/C_Primer_Plus-Programming-Exercises/blob/main/Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Decision tree models

In [ ]:
import pandas as pd
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor

In [ ]:
file_train = '/content/sample_data/california_housing_train.csv'
file_test = '/content/sample_data/california_housing_test.csv'

In [ ]:
df_train = pd.read_csv(file_train)
df_test = pd.read_csv(file_test)

In [ ]:
df_train.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [ ]:
df_train.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [ ]:
df_train['rooms'] = df_train['total_rooms'] / df_train['households']
df_test['rooms'] = df_test['total_rooms'] / df_test['households']

In [ ]:
df_train.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,rooms
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,11.889831
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,16.522678
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0,6.153846
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0,6.641593
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0,5.549618

In [ ]:
df_test.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,rooms
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,6.410891
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0,5.451264
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0,7.250505
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0,6.090909
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0,5.236287

In [ ]:
train_y = df_train['median_house_value']
train_x = df_train[['housing_median_age', 'rooms', 'median_income']]

test_y = df_test['median_house_value']
test_x = df_test[['housing_median_age', 'rooms', 'median_income']]

In [ ]:
# specify model
model = DecisionTreeRegressor(random_state = 1)

In [ ]:
# fit model
model.fit(train_x, train_y)

DecisionTreeRegressor(random_state=1)

In [ ]:
# make validation prediction and calculate MAE
val_prediction = model.predict(test_x)
val_mae = mean_absolute_error(val_prediction, test_y)
print('Validation MAE:', val_mae)

Validation MAE: 72543.58